<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Search page</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
  <div class="block" style="height: 100vh;">
    <div class="block" style="padding-top: 33vh;">
      <h2 class="title is-2" style="display: flex; justify-content: center;">GPN Search</h2>
      <p class="block" style="display: flex; justify-content: center;">
        Сделано: <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"> Команда Sunny</a>.
      </p>
      <div class="block" style="width: 100%; display: flex; justify-content: center;">
        <form action="search" method="get" style="width: 60%; display: flex; flex-direction: row;">
          <input class="input" type="text" placeholder="Введите запрос..." name="search_field">
          <input class="button is-link" type="submit" value="Искать">
        </form>
      </div>
      <a href="/info">
        <h5 class="subtitle is-6" style="display: flex; justify-content: center;">Информация о языке запросов</h5>
      </a>
    </div>
  </div>
</body>
</html>